# Set the default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to always be normalized and converted 
# to native line endings on checkout.
*.js text
*.css text
*.html text
*.json text
