.education {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 400px; 
  border: 2px solid rgb(200, 200, 200); 
  padding: 10px; 
  margin-right: 125px;
}

.education .horizontal-navbar {
  display: flex;
  background-color: #040b14; 
  color: white; 
  padding: 10px;
  cursor: pointer;
}

.education .horizontal-navbar .navbar-item {
  display: flex;
  align-items: center;
}

.education .icon {
  font-size: 24px;
}

.education .sub-content {
  display: flex;
  flex-direction: column; 
  padding: 10px;
  border-bottom: 1px solid #ccc; 
  position: relative; 
}

.education .progress-line {
  width: 1px;
  height: 100%;
  background-color: #333; 
  margin-right: 10px;
}



.education .sub-heading {
  font-size: 16px;
  margin-top: 5px; 
  cursor: pointer;
  display: flex;
  align-items: center;
}

.education .sub-heading .Grad-date {
  font-size: 14px;
  color: #777;
  margin-left: auto; 
}

.education .content {
  margin-left: 20px; 
}

@media (max-width: 768px) {
  .education {
    width: 100%; 
    margin-left: 0;
    margin-right: 0; 
  }
}
